@using Bookish2.Web.Models
@model IEnumerable<BookModel>

@{
    ViewBag.Title = "Bookish Catalog";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <table>
        <caption>Bookish Catalog</caption>
        <tr>
            <th scope="col"><a class="sort-link" href="@Url.Action("Index", "Catalog", new {sort="Id"})">Book ID</a></th>
            <th scope="col"><a class="sort-link" href="@Url.Action("Index", "Catalog", new {sort="Title"})">Title</a></th>
            <th scope="col"><a class="sort-link" href="@Url.Action("Index", "Catalog", new {sort="Author"})">Author</a></th>
            <th scope="col"><a class="sort-link" href="@Url.Action("Index", "Catalog", new {sort="Pages"})">Pages</a></th>
            <th scope="col"><a class="sort-link" href="@Url.Action("Index", "Catalog", new {sort="ISBN"})">ISBN</a></th>
        </tr>
        @foreach (var book in @Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Pages</td>
                <td>@book.ISBN</td>
            </tr>
        }
    </table>
</div>

@*<a class="btn btn-primary" href="@Url.Action("Index", "Catalog", new {sort="Author"})"></a>*@

