@using Bookish2.Web.Models
@model IEnumerable<Bookish2.Web.Models.BookModel>

@{
    ViewBag.Title = "Bookish Catalog";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <table>
        <caption>Bookish Catalog</caption>
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Pages</th>
            <th scope="col">ISBN</th>
        </tr>
        @foreach (var book in @Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Pages</td>
                <td>@book.ISBN</td>
            </tr>
        }
    </table>
</div>

